@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  html,
  body {
    @apply h-full;
    @apply w-full;
    @apply bg-red1;
    @apply text-gray11;
  }

  h1 {
    @apply text-4xl;
    @apply text-red11;
    @apply font-extrabold;

  }

  h2 {
    @apply text-2xl;
    @apply text-red11;
    @apply font-bold;

  }

  a {
    @apply text-blue11;
    @apply underline;
    @apply font-semibold;

  }

  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  dt,
  dd {
    line-height: 1;
  }

  dt {
    text-transform: uppercase;
    font-size: 0.8rem;
    top: 0.2rem;
    opacity: 0.8;
  }

  dd {
    margin: 0;
  }
}

@layer utilities {
  .hideScroll::-webkit-scrollbar {
    display: none;
  }

  .navbar {
    background: radial-gradient(circle at 20% 40%, #feebec, #e5484d);
  }
}